@charset "UTF-8";

@mixin font-face($font-name, $font-path, $font-weight : 400, $font-style : normal) {
  @font-face {
    font-family: $font-name;
    src: url("#{$font-path}");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}