@import "styles_EUS";

#equidad{
  height: 28%;
}

#sostenibilidad{
  height: 30%;
}

#trabajo{
  height: 42%;

  .description {
    width: 19%;
    right: -2.2em;
  }

  ul.checklist{
    li {
        margin-bottom: 1em;
        padding-right: 3em;
    }
  }
}

